{% extends "bases_core/base.html" %}

{% block content %}

<!-- Caption Line -->
<h2 class="grid_12 caption">Learn <span>about us</span> and what we do.</h2>

<div class="hr grid_12 clearfix">&nbsp;</div>

<!-- Column 1 / Content -->

<div class="grid_8">
	<h4 class="page_title">What is BASES?</h4>
	<div class="hr dotted clearfix">&nbsp;</div>
	<p>We are the Business Association of Stanford Entrepreneurial Students (BASES). BASES is at the center of student entrepreneurship at Stanford and one of the largest and oldest student-run entrepreneurship organizations in the world. <i>Our mission is to promote entrepreneurship education at Stanford University and to empower the next generation of entrepreneurs.</i></p> 
	<h4 class="page_title">Who are we?</h4>
	<div class="hr dotted clearfix">&nbsp;</div>
	<p>We're a team of both undergraduate and graduate Stanford students devoted to supporting the budding entrepreneur. Our advisory board consists of prominent professors, venture capitalists, and entrepreneurs dedicated to synergizing the worlds of academia and industry.</p> 
	<h4 class="page_title">People</h4>
	<div class="hr dotted clearfix">&nbsp;</div>
	
	<div class="catagory_1 clearfix">
	<!-- Row 1 -->
	<div class="grid_9">
		<a class="portfolio_item float alpha" href="#">
			<span>President</span>
			<img class="" src="/static/images/223x112.gif"  alt=""/>
		</a>
		<a class="portfolio_item float " href="#">
			<span>President</span>
			<img class="" src="/static/images/223x112.gif"  alt=""/>
		</a>
		<a class="portfolio_item float omega" href="#">
			<span>VP</span>
			<img class="" src="/static/images/223x112.gif"  alt=""/>
		</a>
		<a class="portfolio_item float alpha" href="#">
			<span>VP</span>
			<img class="" src="/static/images/223x112.gif"  alt=""/>
		</a>
		<a class="portfolio_item float " href="#">
			<span>VP</span>
			<img class="" src="/static/images/223x112.gif"  alt=""/>
		</a>
		<a class="portfolio_item float omega" href="#">
			<span>VP</span>
			<img class="" src="/static/images/223x112.gif"  alt=""/>
		</a>
	<div class="clear"></div>
	</div>
	</div>  
	
</div>

<!-- Column 2 / Sidebar -->
<div class="grid_4">

	<h4>Our History</h4>
	<div class="hr dotted clearfix">&nbsp;</div>
	<dl class="history"> 
		<dt>March 1996</dt> 
		<dd>Five Stanford graduate students see a need to expand their engineering curriculum to learn more about the new venture creation process. The Business Association of Stanford Engineering Students is born.</dd> 
	
		<dt>1999</dt> 
		<dd>"Engineering" is replaced with "Entrepreneurial" to more accurately represent the group.</dd> 
	
		<dt>Today</dt> 
		<dd>BASES continues to serve the entire Stanford community as the center of all entrepreneurial activities.</dd> 
	 
	</dl>
</div>

{% endblock content %}